{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": ["@nuxtjs",
    "prettier",
    "prettier/vue",
    "plugin:prettier/recommended",
    "plugin:nuxt/recommended"],
  "parserOptions": {
    "parserOptions": {
      "ecmaVersion": 8,
      "parser": "babel-eslint",
      "sourceType": "module"
    }
  }
}
